<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="MySqlConnectionString" connectionString="Server=localhost;Port=3306;Database=honeypot;UId=root;Password=318443041"
   providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings >
    <add key="webPages:Version" value="2.0" />
  </appSettings >
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.5"/>
    <httpRuntime targetFramework="4.5" />
    <globalization fileEncoding="utf-8" />
  </system.web>
</configuration>